In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [2]:
numerical = pd.read_csv('num.csv')
numerical

FileNotFoundError: [Errno 2] No such file or directory: 'num.csv'

In [3]:
numerical.shape

(95412, 315)

In [4]:
categorical = pd.read_csv('categ.csv')
categorical

,STATE,CLUSTER,HOMEOWNR,GENDER,DATASRCE,RFA_2R,RFA_2A,GEOCODE2,DOMAIN_A,DOMAIN_B,...,DOB_YR,DOB_MM,MINRDATE_YR,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM
0,IL,36,H,F,3,L,E,C,T,2,...,37,12,92,8,94,2,95,12,89,11
1,CA,14,H,M,3,L,G,A,S,1,...,52,2,93,10,95,12,95,12,93,10
2,NC,43,U,M,3,L,E,C,R,2,...,0,2,91,11,92,7,95,12,90,1
3,CA,44,U,F,3,L,E,C,R,2,...,28,1,87,11,94,11,95,12,87,2
4,FL,16,H,F,3,L,F,A,S,2,...,20,1,93,10,96,1,96,1,79,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,other,27,H,M,3,L,G,C,C,2,...,0,2,96,2,96,2,96,2,96,2
95408,TX,24,H,M,3,L,F,A,C,1,...,50,1,96,3,96,3,96,3,96,3
95409,MI,30,H,M,3,L,E,B,C,3,...,38,1,96,3,95,1,96,10,94,10
95410,CA,24,H,F,2,L,F,A,C,1,...,40,5,90,11,96,8,97,1,86,12
95411,NC,24,U,F,3,L,G,C,C,1,...,18,1,88,12,93,12,96,12,88,3

In [5]:
categorical.shape

(95412, 22)

In [6]:
target = pd.read_csv('target.csv')
target

       TARGET_B  TARGET_D
0             0       0.0
1             0       0.0
2             0       0.0
3             0       0.0
4             0       0.0
...         ...       ...
95407         0       0.0
95408         0       0.0
95409         0       0.0
95410         1      18.0
95411         0       0.0

[95412 rows x 2 columns]

In [7]:
print("Numerical Data Types:")
print(numerical.dtypes)

Numerical Data Types:
TCODE         int64
AGE         float64
INCOME        int64
WEALTH1       int64
HIT           int64
             ...
AVGGIFT     float64
CONTROLN      int64
HPHONE_D      int64
RFA_2F        int64
CLUSTER2      int64
Length: 315, dtype: object

In [8]:
print("\nCategorical Data Types:")
print(categorical.dtypes)

Categorical Data Types:
STATE           object
CLUSTER          int64
HOMEOWNR        object
GENDER          object
DATASRCE         int64
RFA_2R          object
RFA_2A          object
GEOCODE2        object
DOMAIN_A        object
DOMAIN_B         int64
ODATEW_YR        int64
ODATEW_MM        int64
DOB_YR           int64
DOB_MM           int64
MINRDATE_YR      int64
MINRDATE_MM      int64
MAXRDATE_YR      int64
MAXRDATE_MM      int64
LASTDATE_YR      int64
LASTDATE_MM      int64
FIRSTDATE_YR     int64
FIRSTDATE_MM     int64
dtype: object

In [9]:
X = pd.concat([numerical, categorical], axis=1)

y = target['TARGET_B']

In [10]:
X

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,DOB_YR,DOB_MM,MINRDATE_YR,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM
0,0,60.000000,5,9,0,0,39,34,18,10,...,37,12,92,8,94,2,95,12,89,11
1,1,46.000000,6,9,16,0,15,55,11,6,...,52,2,93,10,95,12,95,12,93,10
2,1,61.611649,3,1,2,0,20,29,33,6,...,0,2,91,11,92,7,95,12,90,1
3,0,70.000000,1,4,2,0,23,14,31,3,...,28,1,87,11,94,11,95,12,87,2
4,0,78.000000,3,2,60,1,28,9,53,26,...,20,1,93,10,96,1,96,1,79,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,1,61.611649,5,9,0,14,36,47,11,7,...,0,2,96,2,96,2,96,2,96,2
95408,1,48.000000,7,9,1,0,31,43,19,4,...,50,1,96,3,96,3,96,3,96,3
95409,1,60.000000,5,9,0,0,18,46,20,7,...,38,1,96,3,95,1,96,10,94,10
95410,0,58.000000,7,9,0,0,28,35,20,9,...,40,5,90,11,96,8,97,1,86,12
95411,2,80.000000,5,8,3,1,33,22,27,8,...,18,1,88,12,93,12,96,12,88,3

In [11]:
from sklearn.model_selection import train_test_split

# Split the data into training and test sets (80% training, 20% testing)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=13)

# Display the shapes of the resulting sets
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (76329, 337)
X_test shape: (19083, 337)
y_train shape: (76329,)
y_test shape: (19083,)

In [12]:
# Identify numerical and categorical columns
numerical_columns = numerical.columns
categorical_columns = categorical.columns

# Split numerical and categorical features for training set
train_num = X_train[numerical_columns]
train_cat = X_train[categorical_columns]

# Split numerical and categorical features for test set
test_num = X_test[numerical_columns]
test_cat = X_test[categorical_columns]

# Display the shapes of the resulting sets
print("train_num shape:", train_num.shape)
print("train_cat shape:", train_cat.shape)
print("test_num shape:", test_num.shape)
print("test_cat shape:", test_cat.shape)

train_num shape: (76329, 315)
train_cat shape: (76329, 22)
test_num shape: (19083, 315)
test_cat shape: (19083, 22)

In [13]:
for col in categorical.columns:
    print (categorical[col].value_counts(dropna=False))

STATE
other    30457
CA       17343
FL        8376
TX        7535
IL        6420
MI        5654
NC        4160
WA        3577
GA        3403
IN        2980
WI        2795
MO        2712
Name: count, dtype: int64
CLUSTER
40    6295
35    3624
36    3617
27    3553
24    3539
49    3315
12    3000
18    2897
13    2706
30    2607
39    2601
45    2515
43    2385
11    2378
51    2322
14    2246
41    2176
44    1953
16    1947
2     1942
21    1891
8     1828
10    1804
46    1800
28    1630
17    1621
20    1568
53    1441
3     1428
34    1358
42    1358
23    1324
31    1285
22    1282
25    1275
38    1200
15    1173
1     1140
7     1076
5     1014
37     972
26     947
47     868
29     859
32     795
48     787
50     776
9      770
6      603
33     593
4      561
19     497
52     270
Name: count, dtype: int64
HOMEOWNR
H    74582
U    20830
Name: count, dtype: int64
GENDER
F        54234
M        39094
other     2084
Name: count, dtype: int64
DATASRCE
3    64829
2    23455
1     7128
Name: count, dtype: int64
RFA_2R
L    95412
Name: count, dtype: int64
RFA_2A
F    46964
E    21639
G    19397
D     7412
Name: count, dtype: int64
GEOCODE2
A    34803
B    28505
D    16580
C    15524
Name: count, dtype: int64
DOMAIN_A
R    22106
S    21924
C    19689
T    19527
U    12166
Name: count, dtype: int64
DOMAIN_B
2    48356
1    28498
3    16754
4     1804
Name: count, dtype: int64
ODATEW_YR
95    15369
86    14601
94    12069
96    10122
91     8557
90     7724
92     7549
88     6671
89     5347
93     3929
87     3455
97       15
85        2
84        1
83        1
Name: count, dtype: int64
ODATEW_MM
1     95351
9        16
10       12
12        9
2         7
11        5
4         3
6         3
3         3
8         1
5         1
7         1
Name: count, dtype: int64
DOB_YR
0     23661
20     1942
30     1923
48     1912
50     1890
      ...
7         1
89        1
9         1
85        1
83        1
Name: count, Length: 96, dtype: int64
DOB_MM
1     45519
2     26365
9      2544
7      2507
8      2490
6      2361
3      2359
12     2349
5      2313
10     2262
11     2177
4      2166
Name: count, dtype: int64
MINRDATE_YR
95    19577
94    13689
93    10402
92    10304
91     8702
96     8701
90     7196
88     5834
89     5772
87     3944
86      896
97      376
84        6
78        3
85        3
82        2
83        2
77        1
80        1
75        1
Name: count, dtype: int64
MINRDATE_MM
1     13394
2     11241
10    10950
9     10035
12     9678
11     8743
3      7837
4      5777
6      5691
7      5330
5      4142
8      2594
Name: count, dtype: int64
MAXRDATE_YR
95    47650
96    16457
94    13479
93     5669
92     4440
91     2750
90     1977
89     1133
88      965
87      487
86      238
97      147
84        7
85        7
83        3
75        1
79        1
82        1
Name: count, dtype: int64
MAXRDATE_MM
12    18692
1     11083
9      9433
2      9017
11     8036
4      7895
10     7304
3      6489
6      5940
7      4387
5      4017
8      3119
Name: count, dtype: int64
LASTDATE_YR
95    57452
96    36387
97     1573
Name: count, dtype: int64
LASTDATE_MM
12    20663
1     12734
2     11943
3     10989
11     8670
9      6705
10     5815
6      4589
4      4576
7      3095
8      2992
5      2641
Name: count, dtype: int64
FIRSTDATE_YR
95    14088
94    12756
93     9543
86     8997
91     8617
88     8159
90     7658
87     7562
92     7459
89     5224
96     5224
85       41
84       23
83       15
82       10
81       10
80        5
78        5
74        4
77        3
79        2
75        2
0         2
72        1
76        1
49        1
Name: count, dtype: int64
FIRSTDATE_MM
1     18177
9     15196
10    14540
2     12839
3      6813
11     6572
12     5981
4      4267
6      3356
8      3008
7      2846
5      1817
Name: count, dtype: int64

In [14]:
categorical["ODATEW_YR"]=categorical["ODATEW_YR"].replace([85, 84, 83], 86)

In [15]:
train_cat=train_cat.drop(["DOB_YR","MINRDATE_YR","MAXRDATE_YR","FIRSTDATE_YR","ODATEW_MM"],axis=1)
train_cat

,STATE,CLUSTER,HOMEOWNR,GENDER,DATASRCE,RFA_2R,RFA_2A,GEOCODE2,DOMAIN_A,DOMAIN_B,ODATEW_YR,DOB_MM,MINRDATE_MM,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_MM
72765,other,47,H,F,3,L,F,D,R,2,94,2,7,4,95,4,7
32186,CA,27,H,M,3,L,G,A,C,2,94,1,1,12,95,12,1
28963,MO,45,H,F,3,L,F,D,R,2,88,2,2,2,96,3,9
48289,CA,28,H,F,2,L,D,A,C,2,91,1,12,12,96,1,10
86659,other,12,H,F,2,L,F,B,S,1,89,7,12,12,95,12,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25324,other,41,H,M,3,L,D,C,T,3,92,2,12,9,95,11,1
65689,other,40,U,F,3,L,F,B,T,2,95,1,6,2,96,2,6
87796,TX,1,H,M,3,L,F,A,U,1,92,11,9,9,95,9,9
33634,CA,2,H,F,2,L,E,A,U,1,94,1,6,10,95,12,10
47280,CA,14,H,F,3,L,F,A,S,1,93,1,2,4,95,10,2

In [16]:
test_cat=test_cat.drop(["DOB_YR","MINRDATE_YR","MAXRDATE_YR","FIRSTDATE_YR","ODATEW_MM"],axis=1)

In [17]:
#categorical.columns[11]

In [18]:
#categorical['ODATEW_MM'].value_counts()

In [19]:
from sklearn.preprocessing import MinMaxScaler
transformer = MinMaxScaler().fit(train_num)
X_norm = transformer.transform(train_num)

print(X_norm.shape)
train_num_scale = pd.DataFrame(X_norm, columns=train_num.columns)
train_num_scale.head()

(76329, 315)

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,CARDGIFT,MINRAMNT,MAXRAMNT,LASTGIFT,TIMELAG,AVGGIFT,CONTROLN,HPHONE_D,RFA_2F,CLUSTER2
0,0.000000,0.624862,0.666667,1.000000,0.0,0.000000,0.282828,0.252525,0.474747,0.060606,...,0.000000,0.010,0.003403,0.022,0.008272,0.014733,0.257257,0.0,0.000000,0.983607
1,0.000017,0.546392,0.833333,0.555556,0.0,0.000000,0.343434,0.484848,0.232323,0.181818,...,0.048780,0.010,0.004004,0.025,0.008272,0.015735,0.870829,0.0,0.000000,0.163934
2,0.000034,0.624862,0.666667,1.000000,0.0,0.000000,0.282828,0.121212,0.333333,0.030303,...,0.170732,0.005,0.003003,0.020,0.004596,0.011930,0.535716,0.0,0.000000,0.967213
3,0.000483,0.773196,0.000000,1.000000,0.0,0.000000,0.464646,0.202020,0.373737,0.080808,...,0.195122,0.002,0.000200,0.003,0.001838,0.002117,0.864833,0.0,0.666667,0.163934
4,0.000000,0.474227,0.500000,1.000000,0.0,0.081633,0.303030,0.474747,0.171717,0.070707,...,0.073171,0.005,0.003403,0.022,0.000919,0.011729,0.699031,0.0,0.333333,0.065574

In [20]:

X_norm1 = transformer.transform(test_num)

print(X_norm1.shape)
test_num_scale = pd.DataFrame(X_norm1, columns=test_num.columns)
test_num_scale.head()

(19083, 315)

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,CARDGIFT,MINRAMNT,MAXRAMNT,LASTGIFT,TIMELAG,AVGGIFT,CONTROLN,HPHONE_D,RFA_2F,CLUSTER2
0,0.000483,0.624862,0.500000,0.888889,0.000000,0.071429,0.383838,0.575758,0.080808,0.050505,...,0.341463,0.003,0.004004,0.003,0.000000,0.012409,0.253425,1.0,0.333333,0.245902
1,0.000000,0.474227,0.000000,0.222222,0.033195,0.000000,0.414141,0.070707,0.686869,0.070707,...,0.195122,0.003,0.019019,0.025,0.014706,0.020324,0.075416,1.0,0.333333,0.786885
2,0.000483,0.624862,0.666667,1.000000,0.000000,0.020408,0.464646,0.272727,0.454545,0.050505,...,0.024390,0.015,0.002002,0.015,0.000919,0.013732,0.969579,0.0,0.333333,0.508197
3,0.000000,0.556701,0.000000,0.222222,0.008299,0.000000,0.353535,0.313131,0.333333,0.090909,...,0.170732,0.005,0.002402,0.017,0.002757,0.009941,0.428936,0.0,0.000000,0.934426
4,0.000034,0.618557,0.333333,1.000000,0.070539,0.000000,0.424242,0.272727,0.494949,0.111111,...,0.219512,0.003,0.001802,0.014,0.001838,0.006723,0.531670,1.0,0.000000,0.229508

In [21]:
from sklearn.preprocessing import OneHotEncoder

In [22]:
#categorical.isna().sum()

In [23]:
#cols

In [24]:
train_cat

,STATE,CLUSTER,HOMEOWNR,GENDER,DATASRCE,RFA_2R,RFA_2A,GEOCODE2,DOMAIN_A,DOMAIN_B,ODATEW_YR,DOB_MM,MINRDATE_MM,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_MM
72765,other,47,H,F,3,L,F,D,R,2,94,2,7,4,95,4,7
32186,CA,27,H,M,3,L,G,A,C,2,94,1,1,12,95,12,1
28963,MO,45,H,F,3,L,F,D,R,2,88,2,2,2,96,3,9
48289,CA,28,H,F,2,L,D,A,C,2,91,1,12,12,96,1,10
86659,other,12,H,F,2,L,F,B,S,1,89,7,12,12,95,12,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25324,other,41,H,M,3,L,D,C,T,3,92,2,12,9,95,11,1
65689,other,40,U,F,3,L,F,B,T,2,95,1,6,2,96,2,6
87796,TX,1,H,M,3,L,F,A,U,1,92,11,9,9,95,9,9
33634,CA,2,H,F,2,L,E,A,U,1,94,1,6,10,95,12,10
47280,CA,14,H,F,3,L,F,A,S,1,93,1,2,4,95,10,2

In [25]:
#train_cat.columns = train_cat.columns.astype(str)
#test_cat.columns = test_cat.columns.astype(str)

In [26]:
train_cat.columns

Index(['STATE', 'CLUSTER', 'HOMEOWNR', 'GENDER', 'DATASRCE', 'RFA_2R',
       'RFA_2A', 'GEOCODE2', 'DOMAIN_A', 'DOMAIN_B', 'ODATEW_YR', 'DOB_MM',
       'MINRDATE_MM', 'MAXRDATE_MM', 'LASTDATE_YR', 'LASTDATE_MM',
       'FIRSTDATE_MM'],
      dtype='object')

In [27]:
test_cat.columns

Index(['STATE', 'CLUSTER', 'HOMEOWNR', 'GENDER', 'DATASRCE', 'RFA_2R',
       'RFA_2A', 'GEOCODE2', 'DOMAIN_A', 'DOMAIN_B', 'ODATEW_YR', 'DOB_MM',
       'MINRDATE_MM', 'MAXRDATE_MM', 'LASTDATE_YR', 'LASTDATE_MM',
       'FIRSTDATE_MM'],
      dtype='object')

In [28]:
train_num.columns

Index(['TCODE', 'AGE', 'INCOME', 'WEALTH1', 'HIT', 'MALEMILI', 'MALEVET',
       'VIETVETS', 'WWIIVETS', 'LOCALGOV',
       ...
       'CARDGIFT', 'MINRAMNT', 'MAXRAMNT', 'LASTGIFT', 'TIMELAG', 'AVGGIFT',
       'CONTROLN', 'HPHONE_D', 'RFA_2F', 'CLUSTER2'],
      dtype='object', length=315)

In [29]:
encoder = OneHotEncoder().fit(train_cat)
cols = encoder.get_feature_names_out(input_features=train_cat.columns)

train_cat = pd.DataFrame(encoder.transform(train_cat).toarray(), columns=cols)
test_encoded=encoder.transform(test_cat)

test_cat = pd.DataFrame(encoder.transform(test_cat).toarray(), columns=cols)

In [35]:
train_num=train_num.reset_index(drop=True)
test_num=test_num.reset_index(drop=True)

In [36]:
# Concatenate scaled numerical and encoded categorical features for both training and test sets
X_train = pd.concat([train_num, train_cat], axis=1)
X_test = pd.concat([test_num, test_cat], axis=1)

# Display the shape of the final X_train and X_test DataFrames
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)

X_train shape: (76329, 484)
X_test shape: (19083, 484)

In [37]:
X_train

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,FIRSTDATE_MM_3,FIRSTDATE_MM_4,FIRSTDATE_MM_5,FIRSTDATE_MM_6,FIRSTDATE_MM_7,FIRSTDATE_MM_8,FIRSTDATE_MM_9,FIRSTDATE_MM_10,FIRSTDATE_MM_11,FIRSTDATE_MM_12
0,0,61.611649,5,9,0,0,28,25,47,6,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,1,54.000000,6,5,0,0,34,48,23,18,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,61.611649,5,9,0,0,28,12,33,3,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,28,76.000000,1,9,0,0,46,20,37,8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0,47.000000,4,9,0,8,30,47,17,7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76324,0,61.611649,5,9,0,0,36,44,28,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
76325,0,54.000000,3,7,1,0,29,22,29,10,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
76326,1,56.000000,7,6,1,0,18,28,37,5,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
76327,0,54.000000,7,9,0,0,36,39,49,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
76328,0,42.000000,6,9,1,0,34,18,45,5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [39]:
from sklearn.linear_model import LogisticRegression

classification = LogisticRegression(random_state =0, solver='lbfgs').fit(X_train,y_train)
classification.score(X_test, y_test)

C:\Users\Alex\AppData\Roaming\Python\Python311\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.9496934444269769

In [40]:
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

predictions = classification.predict(X_test)

print("precision: ",precision_score(y_test,predictions))
print("recall: ",recall_score(y_test,predictions))
print("f1: ",f1_score(y_test,predictions))

precision:  0.03571428571428571
recall:  0.0010706638115631692
f1:  0.002079002079002079

In [41]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,predictions)

array([[18122,    27],
       [  933,     1]], dtype=int64)

In [42]:
predictions

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [ ]:
# finding by definition
# accuracy = TP+TN / all
#precision = TP / (TP+FP)
#recall = TP / (TP+FN)
#f1_scores = 2*(precision * recall)/(precision+recall)

In [ ]:
TN FP
FN TP

In [43]:
y_train.value_counts()

TARGET_B
0    72420
1     3909
Name: count, dtype: int64

In [44]:
from sklearn.utils import resample

In [46]:
y_train=y_train.reset_index(drop=True)

In [50]:
X_train_data = pd.concat([X_train, y_train], axis=1)
X_train_data

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,FIRSTDATE_MM_4,FIRSTDATE_MM_5,FIRSTDATE_MM_6,FIRSTDATE_MM_7,FIRSTDATE_MM_8,FIRSTDATE_MM_9,FIRSTDATE_MM_10,FIRSTDATE_MM_11,FIRSTDATE_MM_12,TARGET_B
0,0,61.611649,5,9,0,0,28,25,47,6,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
1,1,54.000000,6,5,0,0,34,48,23,18,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,2,61.611649,5,9,0,0,28,12,33,3,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0
3,28,76.000000,1,9,0,0,46,20,37,8,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
4,0,47.000000,4,9,0,8,30,47,17,7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76324,0,61.611649,5,9,0,0,36,44,28,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
76325,0,54.000000,3,7,1,0,29,22,29,10,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
76326,1,56.000000,7,6,1,0,18,28,37,5,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0
76327,0,54.000000,7,9,0,0,36,39,49,2,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
76328,0,42.000000,6,9,1,0,34,18,45,5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [51]:
category_0 = X_train_data[X_train_data['TARGET_B'] == 0]
category_1 = X_train_data[X_train_data['TARGET_B'] == 1]

In [52]:
category_1_oversampled = resample(category_1,
                                  replace=True,
                                  n_samples = len(category_0))

In [54]:
print(category_0.shape)
print(category_1_oversampled.shape)

(72420, 485)
(72420, 485)

In [55]:
data_upsampled = pd.concat([category_0, category_1_oversampled], axis=0)

In [56]:
data_upsampled['TARGET_B'].value_counts()

TARGET_B
0    72420
1    72420
Name: count, dtype: int64

In [57]:
X_train_upsampled=data_upsampled.drop('TARGET_B',axis=1)

In [58]:
y_train_upsampled=data_upsampled['TARGET_B']

In [59]:

classification = LogisticRegression(random_state =0, solver='lbfgs').fit(X_train_upsampled,y_train_upsampled)
classification.score(X_test, y_test)

C:\Users\Alex\AppData\Roaming\Python\Python311\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.6055651627102657

In [63]:
predictions = classification.predict(X_test)

print("precision: ",precision_score(y_test,predictions))
print("recall: ",recall_score(y_test,predictions))
print("f1: ",f1_score(y_test,predictions))

precision:  0.05970348604247362
recall:  0.4785867237687366
f1:  0.106163163519772

In [62]:
confusion_matrix(y_test,predictions)

array([[11109,  7040],
       [  487,   447]], dtype=int64)